/* Container */
.login-choice {
    width:65%;
     height:40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 150px;
    background: linear-gradient(180deg,#fde1ff 0%,#e1ffea22 60%);
    gap:30px;
}

/* Title */
.login-choice h1{
    color: #454545;
    font-size: 50px;
    font-weight: 600;

}

/* Button container */
.login-buttons {
  display: flex;
  gap: 40px;
}

/* Common Button Style */
.login-buttons button {
  padding: 60px 120px;
  font-size: 30px;
  font-weight: 600;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  background-color:  #ffcce6; /* medium pink */
  color: #333;
  transition: all 0.3s ease;
  box-shadow: 0px 6px 12px rgba(0,0,0,0.1);
}

/* Hover Effect */
.login-buttons button:hover {
  background-color: #ffb3d9; /* darker pink on hover */
  transform: translateY(-3px) scale(1.05);
}
